@model US.Common.Models.PendingOrders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PendingOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotCusto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotCusto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Key1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
