@model IEnumerable<US.Common.Models.PendingOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Custo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotCusto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Custo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotCusto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key1 })
        </td>
    </tr>
}

</table>
